.particle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: red;
    pointer-events: none;
    animation: explode 1.2s ease-out forwards;
    opacity: 0;
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)));
    }
}
